<ul>
  <% @users.each do |user| %>
    <li>
      <img src="<%= user.photo %>" alt="<%= user.name %>'s Photo" width="100" height="100" />
      <%= link_to user.name, user_path(user) %>
      Number of Posts: <%= user.post_counter %>
    </li>
  <% end %>
</ul>