.header-div {
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes-div {
  display: flex;
}

.comments {
  margin-left: 10px;
}

.post-div {
  margin-left: 25px;
}

.comments-list {
  list-style: none;
}
